$charcoal-grey:  #414452;
$pale-grey: #f2f3f7;
$silver: #c0c3ce;
$steel: #868996;
$sick-green: #9bc837;
$grey: #b9bdce;
$slate-grey: #525462;
$dark-grey: #2c2f3c;
$dark-sky-blue: #30b6dd;
$soft-blue: #577ce6;
$soft-blue-two: #5681ee;
$seafoam-blue: #76cdd8;
$pear: #e2f86a;
$metallic-gold: #D4AF37;
$light-grey: #d9dbe3;
$cool-grey: #a8a9b4;
$warn: #f44336;
