@import 'src/styles/colors.scss';

.main-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 20px 0;
  box-sizing: border-box;
  color: $silver;
  background-color: $charcoal-grey;

  .copyright {
    margin-right: 84px;
  }
}
