<div class="login-page">
  <div class="login-form-wrapper">
    <div class="login-form-header">{{ loginHeaderText }}</div>
    <form class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter email" type="text" name="Email" [(ngModel)]="email" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Enter password" type="password" name="Password" [(ngModel)]="password" required>
      </mat-form-field>
    </form>
    <div class="login-form-footer">
      <a href="#">{{ resetPasswordText }}</a>
      <button class="btn-login" (click)="onLogin()" data-marker="btn-login">{{ loginLabel }}</button>
    </div>
  </div>
</div>
