<div class="login-page">
  <div class="login-form-wrapper">
    <div class="login-form-header">{{ loginHeaderText }}</div>
    <form class="login-form" [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter email" type="text" name="Email" required>
      </mat-form-field>
      <mat-error *ngIf="(email.touched || email.dirty) && email.hasError('required')">
        Please, enter Email
      </mat-error>
      <mat-error *ngIf="(email.touched || email.dirty) && email.hasError('email')">
        Please enter a valid Email address
      </mat-error>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" placeholder="Enter password" type="password" name="Password" required>
      </mat-form-field>
      <mat-error *ngIf="(password.touched || password.dirty) && password.hasError('required')">
        Please, enter password
      </mat-error>
    </form>
    <div class="login-form-footer">
      <a href="#">{{ resetPasswordText }}</a>
      <button class="btn-login" [class.disabled]="isFormInvalid()" (click)="onLogin()" [disabled]="isFormInvalid()" data-marker="btn-login">{{ loginLabel }}</button>
    </div>
  </div>
</div>
